@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Source+Serif+Pro:wght@300;400;600;700&family=Ubuntu:ital,wght@0,400;0,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Source Serif Pro', serif;
    background: #fffafa;
}


.container{
    max-width: 1300px;
    width: 90%;
    margin: 0% auto;
}

.fa{
    display: none;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("https://cdnb.artstation.com/p/assets/images/images/034/985/961/large/vampiric-kai-vendetta-website-bg.jpg?1613775612");
    background-position: center;
    background-size: cover;
    position: relative;
}

.navbar{
    position:fixed;
    display: flex;
    padding: 5px 6%;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0px 5px 10px 0px rgba(51, 51, 51, 0.158);
    width: 100%;
    background: #f2f2f2;
    z-index: 2;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.logo{
    width: 100px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 0.5rem 1.5rem;
    padding-top: 3rem;
    position: relative;
}



.nav-links ul li::after{
    content: '';
    width:0%;
    height: 3px;
    background: #ff324f;
    display: block;
    margin: auto;
    transition: 0.5s ease-in-out;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.nav-links ul li a{
    font-size: 2.2rem;
    text-decoration: none;
    line-height: 1.7rem;
    color: #222;
    transition: 0.5s ease;
}

.nav-links ul li a:hover{
    color: #ff324f;
}

/* --------------------header-body styling--------------- */

.text-box{
    /* width: 90%; */
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    transform: translate(-50% ,-50%);
}

.text-box h1{
    font-size: 4rem;
    padding: 2rem;
    color: #fff;
}

.text-box p{
    font-size: 2.5rem;
    color: #fff;
    padding: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.7rem;
}

.btn{
    border: 1px solid #ff324f;
    display: inline-block;
    min-width: 12%;
    text-align: center;
    padding: 0.7rem 2rem;
    color: #fff;
    background: transparent;
    font-size: 1.8rem;
    transition: 0.5s ease-in;
    cursor: pointer;
}

.btn:hover{
    background: #ff324f;
    color: #fff;
}


/* --------tournament styling------------ */

.categories h1{
    margin-top: 100px;
    font-size: 4.5rem;
    margin-bottom: 1rem;
    text-align: center;
    padding-bottom: 2rem;
    font-weight: 600;
    color: #222;
    border-bottom: 3px solid #ff324f;  
}

.categories span{
    color: #ff324f;
}

.categories p{
    text-align: center;
    color: #333;
    font-size: 2.2rem;
    margin-bottom: 3.5rem;
}

.row{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.col{
    flex-basis: 32%;
    padding: 1rem 0.5rem;
    margin-bottom: 3.5rem;
    transition: all 0.3s ease-in-out;
    background: #f2f2f2;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.col img{
    min-width: 250px;
    width: 100%;
}

.col h2{
    font-size: 3rem;
    color: #333;
    margin-top: 1rem;
    padding: 0.5rem auto;
    text-align: center;
    padding-bottom: 1rem;
}

.col h2 span{
    color: #ff324f;
}

.col:hover{
    transform: translateY(-8px);
}


/* --------------- teams styling -------------- */


.col-2:hover{
    transform: translateY(-10px);
}

/* ---------------- upcoming game styling ----------- */

.upcoming{
    position: relative;
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: center;
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),url("/images/marvel.jpg");
    margin: 5rem 0;
}

.up-content{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.up-content h2{
    font-size: 2.2rem;
    color: #ff523b;
    text-align: center;
    padding: 1.5rem ;
    margin: 0.5rem;
}

.up-content span{
    color: #fff;
}

.up-content h1{
    font-size: 3rem;
    color: #fff;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.2rem;
}

.up-content p{
    text-align: center;
    font-size: 2.2rem;
    color: #fff;
    padding: 1rem;
    margin: 0.5rem;
}

.up-content a{
    text-decoration: none;
    margin: 1.5rem;
}


/* wishes--------------- */

.testimonial{
    padding-top: 6rem;
}

.testimonial h1{
    text-align: center;
    color: #222;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 4.5rem;
}

.testimonial span{
    color: #ff324f;
}

.col-3{
    flex-basis: 23%;
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.6);
    transition: transform 0.5s ease;
    background: #fff;
    margin-bottom: 5rem;
}

.col-3:hover{
    transform: translateY(-10px);
}

.col-3 img{
    width: 50px;
    margin-top: 1.5rem;
    border-radius: 50%;
    border: 0.8px solid #ff523b;
}
.col-3 p{
    font-size: 1.8rem;
    text-align: left;
    color: #555;
}

.col-3 h3{
    font-weight: 400;
    font-size: 2.0rem;
    color: #222;
}


.col-3 .rating{
    color: #f44343;
}

.col-3 span{
    color: #f44343;
}

.col-3 .fa-quote-left{
    color: #f44343;
    font-size: 1.8rem;
}

.rating{
    padding: 1rem;
    margin: 0.5rem auto;
    font-size: 1.5rem;
    color: #f44343;
    text-align: center;
}

/* --------------- from blog styling ------------ */

.blog{
    font-size: 3.5rem;
    color: #222;
    text-align: center;
    margin: 4rem auto;
}

.blog span{
    color: #ff324f;
}


.col p{
    color: #333;
    text-align: center;
    font-size: 1.8rem;
    padding: 1rem 0.5rem;
    margin-top: 1rem;
}


/* ------------- news ---------- */

.col-5{
    flex-basis: 24%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
    transition: transform 0.5s ease-in-out;
    background: #fff;
}

.col-5:hover{
    transform: translateY(-7px);
}

.col-5 img{
    min-width: 250px;
    width: 100%;
}

.col-5 p{
    color: #333;
    padding: 0.5rem 1rem;
    font-size: 1.8rem;
    text-align: center;
}


.footer h1{
    text-align: center;
    color: #222;
    font-size: 2.5rem;
    margin: 3rem auto;
}


/* -------------- footer ------------ */

.footer{
    background-color: #000;
    color: #8a8a8a;
    font-size: 2rem;
    padding: 4rem 0 20px;
}

.footer p{
    color: #8a8a8a;
    font-size: 2.0rem;
    margin-bottom: 1rem;
}

.footer h3{
    color: #fff;
    margin-bottom: 1.0rem;
    /* cursor: pointer; */
}

.col-6{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-1 img{
    width: 180px;
    margin-bottom: 20px;
    cursor: pointer;
}

.footer-col-3 ,.footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

.col-6 ul{
    list-style: none;
}

.col-6 ul li{
    padding: 0.5rem;
    cursor: pointer;
}

.app-store{
    margin-top: 20px;
}

.app-logo img{
    width: 140px;
}


.copyright{
    text-align: center;
    padding-top: 0.5rem;
    /* margin-bottom: 1rem; */
}

.copyright span{
    color: #f44343;
}

.footer hr{
    background: none;
    height: 1px;
    color: #8a8a8a;
}

.f-logo h1{
    color: #fff;
    font-size: 3rem;
    padding-bottom: 1rem;
}

.f-logo span{
    color: #ff523b;
    font-size: 3.0rem;
    padding-bottom: 1rem;

}




@media (max-width:350px){

}



@media  (min-width:351px ) and (max-width:500px){

}


@media (min-width:501px) and (max-width:768px){

}


@media(min-width:769px) and (max-width:1200px){
    
}